doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src='/javascripts/controller.js')
    script(src='/javascripts/model.js')
    script(src='/javascripts/view.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  block content
